* {
    margin: 0px;
    padding: 0px;

}

.main {
    background-color: rgb(112, 212, 212);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 50px;
    padding: 5px;
    width: 80vw;
    height: 50vh;
}

.text {
    background-color: rgb(236, 224, 152);
    width: 55em;
}

.box {
    display: flex;
    gap: 250px;
}

.btn {
    width: 150px;
}

.btn {
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: bisque;
}

h3 {
    display: inline;
}

.list {
    display: flex;
    gap:920px;
    margin-top: 10px;
}
.items{box-sizing: border-box;
    width: 80vw;
    height: 5vh;
background-color: red;}